<h1>Demo1#index2</h1>

<%= link_to("Index 1 Page","/demo1/index1") %>
<br/>
<%= link_to("Index 1 Page with Parameters",{ :controller => 'Demo1', :action => 'index1', :name => 'Nikhil', :age => 42}) %>
<br/>
<%= link_to("All Subjects", subjects_path) %>
